<div style="width: 400px; margin: auto;">
    <div class="submit-form">
      <div *ngIf="!submitted">
        
        <div class="form-group">
          <label for="username">Username:</label>
          <input
            class="form-control"
            id="username"
            required
            [(ngModel)]="user.username"
            name="username"
            maxlength="150"
          />
        </div>

        <button (click)="saveUser()" class="btn btn-success">Submit</button>
        <div *ngIf="error">
          <h4>Something wrong!</h4>
        </div>
      </div>
  
      <div *ngIf="submitted">
        <h4>You submitted successfully!</h4>
        <button class="btn btn-success" (click)="newUser()">Add New User</button>
      </div>
    </div>
  </div>